<header>
    <div id="csi-header" class="csi-header csi-banner-header">
        <div class="header-top">
            <div class="header-top-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contact">
                                <ul class="list-inline">
                                    <!--
                                      POMOCNE DANE:
                                      https://uniwersytetdzieci.pl/kontakt
                                      http://fontawesome.io/icons/
                                    -->
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> @TODO - email + ikona </li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> @TODO - telefon </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="right-menu">
                                <ul class="list-inline">
                                    <!--
                                      Znajdź linki do Youtube i facebook uniwersytetu dzieci i uzupełnij.
                                      https://uniwersytetdzieci.pl/
                                    -->
                                    @TODO - podlinkuj:
                                    <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--//.header-top-->
        <div class="csi-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-default csi-navbar">
                            <div class="container">
                                <nav class="navbar navbar-default csi-navbar">
                                    <div class="csicontainer">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <div class="csi-logo">
                                                <a href="/">
                                                    <!--
                                                      @TODO - pobierz logo do uniwersytetu dzieci /app/assets/images/ i podmień wykorzystując
                                                              funkcję image_tag ( więcej: https://apidock.com/rails/ActionView/Helpers/AssetTagHelper/image_tag )

                                                              Logo pod adresem: https://uniwersytetdzieci.pl/img/ud-logo.png
                                                    -->
                                                    <%= image_tag('logo-ud.png', alt: 'Logo') %>
                                                    <!-- <img src="http://placehold.it/170x70" alt="Logo"/> ->
                                                </a>
                                            </div>
                                        </div>
                                        <div class="collapse navbar-collapse">
                                            <ul class="nav navbar-nav csi-nav">
                                                <li><a class="csi-scroll" href="/">Strona główna</a></li>
                                                <li><a class="csi-scroll" href="#csi-about">O nas</a></li>
                                                <li><a class="csi-scroll" href="#csi-special">Nasze specjały</a></li>
                                                <li><a class="csi-scroll" href="#csi-menu">Wszystkie posiłki</a></li>
                                                <li><a class="csi-scroll" href="#">Kontakt</a></li> <!-- @TODO podlinkuj kontakt -->
                                            </ul>
                                        </div>
                                        <!--/.nav-collapse -->
                                    </div>
                                </nav>
                            </div>
                            <!-- /.container -->
                        </nav>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER-->
    </div>
</header>
