<!--RESERVATION-->
<section>
    <div id="csi-reservation" class="csi-reservation">
        <div class="csi-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-heading">
                            <!-- <h3 class="subtitle">Book A Table New</h3> -->
                            <h2 class="title">Poproś o bezpłatną poradę dietetyczną</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-reservaton-area">
                            <figure>
                                <a href="#"><img src="http://placehold.it/1140x638" alt="Special Food"></a>
                                <figcaption>
                                    <form id="foodiebooking">
                                        <div class="form-group  csi-form-left">
                                            <input class="form-control" name="fb_name" id="foodiebooking_name" placeholder="Wprowadź imię" aria-required="true" type="text">
                                        </div>
                                        <div class="form-group csi-form-right">
                                            <input class="form-control" name="fb_email" id="foodiebooking_email" placeholder="Wprwadź email" aria-required="true" type="email">
                                        </div>

                                        <div class="csi-form-group">
                                            <input id="fb_submit" class="csi-btn csi-submit" value="Booking Submit" type="submit">
                                        </div>
                                    </form>
                                </figcaption>
                            </figure>
                            <div class="call-phone">
                                <h4 class="title">Lub zadzwoń teraz</h4>
                                <ul class="list-inline">
                                    <li>+48 530 261 010</li>
                                </ul>
                            </div>
                        </div> <!--//.reservaton-area-->
                    </div>
                </div>

            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--RESERVATION END-->
