<!--RESERVATION-->
<section>
    <div id="csi-reservation" class="csi-reservation">
        <div class="csi-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-heading">
                            <h3 class="subtitle">Book A Table New</h3>
                            <h2 class="title">Foodking Reservation</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-reservaton-area">
                            <figure>
                                <a href="#"><img src="http://placehold.it/1140x638" alt="Special Food"></a>
                                <figcaption>

                                    <form id="foodiebooking">
                                        <div class="form-group  csi-form-left">
                                            <input class="form-control" name="fb_name" id="foodiebooking_name" placeholder="Enter Your Name" aria-required="true" type="text">
                                        </div>
                                        <div class="form-group csi-form-right">
                                            <input class="form-control" name="fb_email" id="foodiebooking_email" placeholder="Email Address" aria-required="true" type="email">
                                        </div>
                                        <div class="form-group csi-form-left">
                                            <input class="form-control" name="fb_phone" id="foodiebooking_phone" placeholder="Telephone Number" type="text">
                                        </div>
                                        <div class="form-group csi-form-right">
                                            <select class="form-control" name="fb_person" id="foodiebooking_person" aria-required="true">
                                                <option value="">Number of Guests</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="8">9</option>
                                                <option value="10">10</option>
                                                <option value="more">More than 10</option>
                                            </select>
                                        </div>
                                        <div class="form-group csi-form-full csi-form-left">
                                            <div class="input-group date" id="datetimepicker2">
                                                <input name="fb_date" id="foodiebooking_date" class="form-control" placeholder="Date format ( mm-dd-yyyy )." aria-required="true" type="text">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group csi-form-right">
                                            <select class="form-control" name="fb_time" id="foodiebooking_time" aria-required="true">
                                                <option value="">Time</option>
                                                <option value="1">Breakfast</option>
                                                <option value="2">Lunch</option>
                                                <option value="3">Dinner</option>
                                            </select>
                                        </div>
                                        <div class="csi-form-group">
                                            <input id="fb_submit" class="csi-btn csi-submit" value="Booking Submit" type="submit">
                                        </div>
                                    </form>
                                </figcaption>
                            </figure>
                            <div class="call-phone">
                                <h4 class="title">Or Call Now</h4>
                                <ul class="list-inline">
                                    <li>+12345 678 555</li>
                                    <li>+12345 678 556</li>
                                    <li>+12345 678 557</li>
                                </ul>
                            </div>
                        </div> <!--//.reservaton-area-->
                    </div>
                </div>

            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--RESERVATION END-->
