<!--Mapka-->
<section class="hidden-md-down">
    <div id="csi-mapa" class="csi-reservation">
        <div class="csi-inner">
            <div class="container" style="width: 100%">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-heading">
                            <h2 class="title">Gdzie nas znajdziesz</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <div class="map-canvas-default"></div>
                    </div>
                </div>

            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
