<!--ABOUT-->
<section>
    <div id="csi-about" class="csi-about">
        <div class="csi-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-heading">
                            <h3 class="subtitle">O nas</h3>
                            <h2 class="title">Witaj na stronie stworzonej podczas zajec</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="csi-about-content">
                            <p class="text">
                                Dostępne dzisiaj aplikacje umożliwiają nam zamówienie pizzy, skorzystanie z promocji w sklepach czy edytowanie zdjęć.
                                Liczba nowych aplikacji jest ogromna i rośnie z dnia na dzień. Podczas zajęć studenci nauczą się od podstaw języka programowania Ruby.
                                W czasie kolejnych spotkań będą pracować nad stworzeniem własnej aplikacji internetowej z wykorzystaniem framework'a Ruby on Rails,
                                która będzie pomocna w liczeniu przyjmowanych kalorii. Pozwoli to na monitoring spożywanych posiłków pod kątem wartości energetycznej
                                oraz zachęci do zainteresowania się swoim jadłospisem. Aplikacja stworzona na zajęciach będzie narzędziem pomocnym przy planowaniu
                                zbilansowanych posiłków.
                            </p>
                            <% # @TODO użyj funkcji image_tag zamiast obrazka w HTML %>
                            <img src="/assets/programowanie.jpg" alt="about team">
                        </div>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>
<!--ABOUT END-->
