<section>
    <div class="csi-banner">
        <!--
          @TODO
            Zdjęcie tła o rozdzielczości 1920x915 umieścić w katalogu /app/assets/images/slider.jpg
            W pliku app/assets/frontend_main.css znaleźć klasę .csi-banner i podmienić background na
            image_path('tlo.jpg')
        -->
        <div class="csi-banner-style">
            <div class="csi-inner">
                <div class="container">
                    <div class="csi-banner-content">
                        <h3 class="csi-subtitle">Uniwersytet dzieci</h3>
                        <h2 class="csi-title">Nasza drużyna</h2>
                        <div class="btn-area">
                            <a class="csi-btn" href="#csi-reservation">Napisz do nas</a>
                            <a class="csi-btn csi-btn-white" href="#csi-menu">Nasze potrawy</a>
                        </div>
                    </div>
                </div>
                <!-- //.container -->
            </div>
            <!-- //.INNER -->
        </div>
    </div>
</section>
