<footer>
    <div id="csi-footer" class="csi-footer">
        <div class="csi-inner">
            <div class="csi-footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Dietetyk - <a href="https://uniwersytetdzieci.pl/">Uniwersytet dzieci</a> | <i class="fa fa-copyright" aria-hidden="true"></i> 2018 </p>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER-->
        </div>
    </div>
</footer>
