<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1 style='color: white'>Panel administracyjny projektu - Dietetyk</h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a>@TODO - zrób link do frontendu</a></li>
      <li class="divider"></li>
      <li><%= link_to "Kategorie dań", backend_kategorie_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Dania", backend_dania_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Składniki", backend_skladniki_path %></li>
    </ul>
  </div>
</nav>
