<!-- Tutaj wyświetlają sie wsyzstkie komunikaty typu 'Składnik został dodany', albo
Danie zostało usunięte -->
<br />
<div data-alert class="alert-box">
  <%= notice %>
  <a href="#" class="close">&times;</a>
</div>
